<div class="container" style="margin-top: 4%;">
    <h1 style="color: black; text-align: center;"> Lista de articulos </h1>
    <button role="button" (click)="redirect()"  class="btn btn-dark" style="margin-left: 42%;">Regresar al formulario</button>
    <button role="button" (click)="home()" class="btn btn-dark" style="margin-left: 43.5%; margin-top: 3px; margin-bottom: 3px;">Regresar al home</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of articulos">
        <th scope="row"> {{ articulo.id }} </th>
        <td>{{ articulo.codigo }}</td>
        <td>{{ articulo.nombre }}</td>
        <td>{{ articulo.descripcion }}</td>
        <td>{{ articulo.precio }}$</td>
        <td>{{ articulo.marca }}</td>
        <td>{{ articulo.modelo }}</td>
        <td>{{ articulo.fechaRegistro }}</td>
        <td><button (click)="delete(articulo)" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>

