<div class="container" style="margin-top: 4%;">
    <h1 style="color: black; text-align: center;"> Crear servicio </h1>
    <form style="margin-left: 8%;">
        <div class="form-group row">
            <label for="codigo" class="col-sm-3 col-form-label">Código:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="codigo" required="true" [(ngModel)]="servicio.codigo" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label for="codigo" class="col-sm-3 col-form-label">Nombre:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="codigo" required="true" [(ngModel)]="servicio.nombre" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label for="descripcion" class="col-sm-3 col-form-label">Descripción:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="descripcion" required="true" [(ngModel)]="servicio.descripcion" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label for="precio" class="col-sm-3 col-form-label">Precio:</label>
            <div class="col-sm-5">
              <input type="number" class="form-control" id="precio" required="true" [(ngModel)]="servicio.precio" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label for="unidad" class="col-sm-3 col-form-label">Unidad de medida:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="unidad" required="true" [(ngModel)]="servicio.unidadMedida" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label for="frecuencia" class="col-sm-3 col-form-label">Frecuencia:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="frecuencia" required="true" [(ngModel)]="servicio.frecuencia" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label for="fechaRegistro" class="col-sm-3 col-form-label">Fecha de registro:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="fecha" required="true"
               [(ngModel)]="servicio.fechaRegistro" [ngModelOptions]="{standalone: true}" placeholder="año-mes-día (00-00-00)">
            </div>
          </div>
          <button role="button" (click)="create()" class="btn btn-dark" style="margin-left: 34%;">Guardar</button>
          <button role="button" (click)="redirect()" class="btn btn-dark" style="margin-left: 0.5%;">Imprimir servicios</button>
      </form>
</div>

